#video-detail{
	padding-top: 20px;
}


#main-bar .login .media .media-left{
	width: 41px;
}

.media-mark{
	margin-top: 2.8px;
}
 .media-body{
 	padding-top: 6.5px;
 }
.login .media-left img{
	border-radius: 50%;
	width: 28px;
	height: 28px;
 }
.media-left img{
	border-radius: 20px;
	width: 90px;
	height: 90px;
}

.pasue-stop-img{
	position: absolute;
	height: 128px;
	top: calc(250px - 64px);
	left: calc(50% - 64px);
	bottom: 0px;
}
.pasue-stop-img a{
	position: absolute;
	width: 90px;
	height: 90px;
	margin-top: 20px;
	margin-left: 20px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
}
.pasue-stop-img i{
	position: relative;
	top: -20px;
	left: -20px;
	color: rgba(242, 111, 69, 0.7);
	font-size: 128px;
}

.drwa-play{
	width: auto;
    height: 504px;
    margin: auto;
    background: #6a6a6a;
    margin-bottom: 50px;
}

.drwa-play>canvas{
	width: 500px;
    height: 500px;
    margin: 2px 0px;
    margin-left: calc(50% - 250px);
    background-color: white;
    /*border: 1px solid #999999;*/
}

.pasue-back{
	 /*position: absolute;*/
	 position: relative; 
	 width: auto;
	 /*height: 640px;*/
	 height: 60px;
	 top: -65px; 
	 background: rgba(0,0,0,0.3);
}
.pasue-back div{
	float: right; 
	margin-top: 5px;
}
.pasue-back a{
	color: #333 ;
}
.pasue-back .circleimg a{
	background: white;
	position: absolute;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
.pasue-back .circleimg a i{
	position: relative;
	left: -10px;
	top: -10px;
}
.pasue-img{
	width: 100px; 
	float: right; 
	margin-top: 18px;
	
}
.last-img{
	width: 100px; 
	float: right; 
	margin-top: 18px;

}
.next-img{
	width: 100px; 
	float: right; 
	margin-top: 18px;

}
.forward-img{
	width: calc(50% - 175px)

	
}
.rewind-img{
    width: 118px;
}
.pasue-back i{
	font-size: 50px
}

.pasue-img i{
	color: #f26f45;
}

.pasue-back .imgchag{
	color: #999999;
}

.stop_img, .stop_img img{
	width: 640px;
	height: 640px;
}
.stop_img{
	top: 0px;
	position: absolute;
}


.loading{
	position: absolute;
	width: calc(100% - 30px);
	height: 504px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.loader {
	border: 20px solid rgba(255, 255, 255, 0.0);
	border-radius: 50%;
	border-top: 20px solid rgba(0, 0, 0, 0.6);
	border-right: 20px solid rgba(0, 0, 0, 0.6);
	border-bottom: 20px solid rgba(0, 0, 0, 0.6);
	margin-left: calc(50% - 64px);
	margin-top: calc(250px - 64px);
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
 	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


#secondary-section.vids-2-column.top20{
	padding-top: 20px;
}