<div class="main-content-inner">
	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_content">
					<div class="row">
						<div class="col-xs-12">
							<h3 class="grey lighter">
								<i class="ace-icon fa fa-hashtag green"></i>
								檢舉名細 
							</h3>
							<div class="x_content table-responsive">
								<table id="dynamic-table-sub" class="table table-striped table-bordered nowrap" width="100%"></table>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
