<ul class="nav nav-list">
	<li>
		<a href="#/adminManager">
			<i class="menu-icon fa fa-desktop"></i>
			<span class="menu-text"> 後台帳號管理 </span>
		</a>
		<b class="arrow"></b>
	</li>	
	<li class="">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-users"></i>
			<span class="menu-text"> 會員帳號管理 </span>
			<b class="arrow fa fa-angle-down"></b>
		</a>
		<b class="arrow"></b>
		<ul class="submenu">
			<li class="">
				<a href="#/page-not-found"> 查詢 </a><b class="arrow"></b>
			</li>
			<li>
				<a href="#/userManager"> 會員列表 </a><b class="arrow"></b>
			</li>
		</ul>
	</li>
	<li>
		<a href="#/directoryManager">
			<i class="menu-icon fa fa-archive"></i>
			<span class="menu-text"> 目錄管理 </span>
		</a>
		<b class="arrow"></b>
	</li>
	<li>
		<a href="#/tagManager">
			<i class="menu-icon fa fa-hashtag"></i>
			<span class="menu-text"> 標籤管理 </span>
		</a>
		<b class="arrow"></b>
	</li>		
	<li class="">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-bell-o"></i>
			<span class="menu-text"> 檢舉作業 </span>
			<b class="arrow fa fa-angle-down"></b>
		</a>
		<b class="arrow"></b>
		<ul class="submenu">
			<li><a href="#/turnInManager"> 檢舉列表 </a><b class="arrow"></b></li>
		</ul>
	</li>
	<li>
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-gear"></i>
			<span class="menu-text"> 系統設定 </span>
			<b class="arrow fa fa-angle-down"></b>
		</a>
		<b class="arrow"></b>
		<ul class="submenu">
			<li><a href="#/mailSet"> 郵件設定 </a><b class="arrow"></b></li>
		</ul>
	</li>
</ul>