<div class="main-content-inner">
	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_content">
					<div class="row">
						<div class="col-xs-12">
							<form class="form-horizontal" role="form" name="myForm">
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right"> 所屬群組 </label>
									<select class="col-xs-3 col-sm-5" ng-model="editUser.data.userGroup" convert-to-number>
										<option value="0">一般使用者</option>
										<option value="1">商家</option>
									</select>
								</div>

								<div class="col-md-offset-3 col-md-9">
									<button ng-disabled="loading" class="btn btn-info" type="button" ng-click="updateCustomTag()">
										更新
									</button>
									&nbsp; &nbsp; &nbsp;
									<button class="btn" type="reset" ng-click="close()">
										取消
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>

