<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonniedraw.login.dao.LoginMapper">
  <resultMap id="BaseResultMap" type="com.bonniedraw.login.model.Login">
    <id column="LOGIN_ID" jdbcType="INTEGER" property="loginId" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="LOGIN_TOKEN" jdbcType="VARCHAR" property="loginToken" />
    <result column="DEVICE_IP" jdbcType="VARCHAR" property="deviceIp" />
    <result column="DEVICE_INFO" jdbcType="VARCHAR" property="deviceInfo" />
    <result column="SERVICE_KEY" jdbcType="VARCHAR" property="serviceKey" />
    <result column="IS_CURRENT" jdbcType="INTEGER" property="isCurrent" />
    <result column="LOGIN_RESULT" jdbcType="INTEGER" property="loginResult" />
    <result column="SESSION_ID" jdbcType="INTEGER" property="sessionId" />
    <result column="LANGUAGE_CODE" jdbcType="VARCHAR" property="languageCode" />
    <result column="COUNTRY_CODE" jdbcType="VARCHAR" property="countryCode" />
  </resultMap>
  <sql id="Base_Column_List">
    LOGIN_ID, USER_ID, LOGIN_TOKEN, DEVICE_IP, DEVICE_INFO, SERVICE_KEY, IS_CURRENT, 
    LOGIN_RESULT, SESSION_ID, LANGUAGE_CODE, COUNTRY_CODE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from login
    where LOGIN_ID = #{loginId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from login
    where LOGIN_ID = #{loginId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bonniedraw.login.model.Login">
    insert into login (LOGIN_ID, USER_ID, LOGIN_TOKEN, 
      DEVICE_IP, DEVICE_INFO, SERVICE_KEY, 
      IS_CURRENT, LOGIN_RESULT, SESSION_ID, 
      LANGUAGE_CODE, COUNTRY_CODE)
    values (#{loginId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{loginToken,jdbcType=VARCHAR}, 
      #{deviceIp,jdbcType=VARCHAR}, #{deviceInfo,jdbcType=VARCHAR}, #{serviceKey,jdbcType=VARCHAR}, 
      #{isCurrent,jdbcType=INTEGER}, #{loginResult,jdbcType=INTEGER}, #{sessionId,jdbcType=INTEGER}, 
      #{languageCode,jdbcType=VARCHAR}, #{countryCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bonniedraw.login.model.Login">
    insert into login
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loginId != null">
        LOGIN_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="loginToken != null">
        LOGIN_TOKEN,
      </if>
      <if test="deviceIp != null">
        DEVICE_IP,
      </if>
      <if test="deviceInfo != null">
        DEVICE_INFO,
      </if>
      <if test="serviceKey != null">
        SERVICE_KEY,
      </if>
      <if test="isCurrent != null">
        IS_CURRENT,
      </if>
      <if test="loginResult != null">
        LOGIN_RESULT,
      </if>
      <if test="sessionId != null">
        SESSION_ID,
      </if>
      <if test="languageCode != null">
        LANGUAGE_CODE,
      </if>
      <if test="countryCode != null">
        COUNTRY_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loginId != null">
        #{loginId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="loginToken != null">
        #{loginToken,jdbcType=VARCHAR},
      </if>
      <if test="deviceIp != null">
        #{deviceIp,jdbcType=VARCHAR},
      </if>
      <if test="deviceInfo != null">
        #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="serviceKey != null">
        #{serviceKey,jdbcType=VARCHAR},
      </if>
      <if test="isCurrent != null">
        #{isCurrent,jdbcType=INTEGER},
      </if>
      <if test="loginResult != null">
        #{loginResult,jdbcType=INTEGER},
      </if>
      <if test="sessionId != null">
        #{sessionId,jdbcType=INTEGER},
      </if>
      <if test="languageCode != null">
        #{languageCode,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        #{countryCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bonniedraw.login.model.Login">
    update login
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="loginToken != null">
        LOGIN_TOKEN = #{loginToken,jdbcType=VARCHAR},
      </if>
      <if test="deviceIp != null">
        DEVICE_IP = #{deviceIp,jdbcType=VARCHAR},
      </if>
      <if test="deviceInfo != null">
        DEVICE_INFO = #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="serviceKey != null">
        SERVICE_KEY = #{serviceKey,jdbcType=VARCHAR},
      </if>
      <if test="isCurrent != null">
        IS_CURRENT = #{isCurrent,jdbcType=INTEGER},
      </if>
      <if test="loginResult != null">
        LOGIN_RESULT = #{loginResult,jdbcType=INTEGER},
      </if>
      <if test="sessionId != null">
        SESSION_ID = #{sessionId,jdbcType=INTEGER},
      </if>
      <if test="languageCode != null">
        LANGUAGE_CODE = #{languageCode,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        COUNTRY_CODE = #{countryCode,jdbcType=VARCHAR},
      </if>
    </set>
    where LOGIN_ID = #{loginId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bonniedraw.login.model.Login">
    update login
    set USER_ID = #{userId,jdbcType=INTEGER},
      LOGIN_TOKEN = #{loginToken,jdbcType=VARCHAR},
      DEVICE_IP = #{deviceIp,jdbcType=VARCHAR},
      DEVICE_INFO = #{deviceInfo,jdbcType=VARCHAR},
      SERVICE_KEY = #{serviceKey,jdbcType=VARCHAR},
      IS_CURRENT = #{isCurrent,jdbcType=INTEGER},
      LOGIN_RESULT = #{loginResult,jdbcType=INTEGER},
      SESSION_ID = #{sessionId,jdbcType=INTEGER},
      LANGUAGE_CODE = #{languageCode,jdbcType=VARCHAR},
      COUNTRY_CODE = #{countryCode,jdbcType=VARCHAR}
    where LOGIN_ID = #{loginId,jdbcType=INTEGER}
  </update>
  
	<update id="updateCurrentIsFalse" parameterType="com.bonniedraw.login.model.Login">
	    update login
	    set IS_CURRENT = 2
	    where USER_ID = #{userId,jdbcType=INTEGER}
	    and DEVICE_INFO = #{deviceInfo,jdbcType=VARCHAR}
	    and IS_CURRENT = 1
	</update>
	
	<select id="inspectLogin" parameterType="com.bonniedraw.login.model.Login" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from login
	    where LOGIN_TOKEN = #{loginToken,jdbcType=VARCHAR}
	    and DEVICE_INFO = #{deviceInfo,jdbcType=VARCHAR}
	    and IS_CURRENT = 1
	</select>
  
</mapper>