<div id="wrapper">
	<div id="main-content">
		<div ui-view="headerMenu"></div>
		<!-- Inner page Bar -->
		<div id="page-bar">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-8 col-xs-12">
						<div class="page-title">
							<h1 class="text-uppercase">關於BonnieDRW</h1>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 text-right">
						<ul class="breadcrumb">
						    <li>
						    	<a href="#/index"><i class="fi ion-ios-home"></i>Home</a>
						    </li>
						    <li class="active">關於BonnieDRW</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Inner page Bar -->

		<!-- 2 Column Video -->
		<div id="about-us">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-12">
						<div class="row auto-clear">
							<div class="vid-container">
								<div class="col-md-6 col-sm-6">
									<div class="about-text">
								    	<h1>Vestibulum quis leo fringilla, congue ex eget</h1>
								    	<p>
								    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in lectus vitae tortor aliquet elementum non gravida enim. Cras sed pulvinar est. Quisque et sem fermentum, scelerisque erat id, vehicula felis.orem ipsum dolor sit amet, consectetur adipiscing elit. Donec in lectus vitae tortor aliquet elementum non gravida enim. Cras sed pulvinar est. Quisque et sem fermentum, scelerisque erat id, vehicula felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in lectus vitae tortor aliquet elementum non gravida enim. Cras sed pulvinar est. Quisque et sem fermentum, scelerisque erat id, vehicula felis.  
								    	</p>
								    	<p>
								    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in lectus vitae tortor aliquet elementum non gravida enim. Cras sed pulvinar est. Quisque et sem fermentum, scelerisque erat id, vehicula felis.orem ipsum dolor sit amet.
								    	</p>
									</div>								
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="about-img">
										<img class="img-responsive" src="assets/images/about-us-img.jpg" alt="video image">
									</div>
								</div>
								<div class="col-md-12 col-sm-12">
									<div class="about-text about-det">
								   		<h1>Vestibulum quis leo fringilla, congue ex eget</h1>
								   		<p>
								    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in lectus vitae tortor aliquet elementum non gravida enim. Cras sed pulvinar est. Quisque et sem fermentum, scelerisque erat id, vehicula felis.orem ipsum dolor sit amet, consectetur adipiscing elit. Donec in lectus vitae tortor aliquet elementum non gravida enim. Cras sed pulvinar est. Quisque et sem fermentum, scelerisque erat id, vehicula felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in lectus vitae tortor aliquet elementum non gravida enim. Cras sed pulvinar est. Quisque et sem fermentum, scelerisque erat id, vehicula felis.  
								    	</p>								   
									</div>
								</div>
								<div class="col-sm-12">
									<div class="about-video">
										<div class="vid-player">
											<div class="embed-responsive embed-responsive-16by9">
				                            	<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/88627743"></iframe>
				                        	</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-12">
						<div class="sidebar">
							<div class="sidebar-vid most-liked">
								<h1 class="sidebar-heading">你喜歡的</h1>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/most-liked-img-s1.jpg" alt="video">
									</div>
									<div class="media-body">
										<h1><a href="video-detail.html">Journey</a></h1>
										<p>
											<span><i class="fa fa-comment"></i> 10</span>
											<span><i class="fa fa-eye"></i> 534</span>
										</p>
									</div>
								</div>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/most-liked-img-s2.jpg" alt="video">
									</div>
									<div class="media-body">
										<h1><a href="video-detail.html">Magic</a></h1>
										<p>
											<span><i class="fa fa-comment"></i> 10</span>
											<span><i class="fa fa-eye"></i> 534</span>
										</p>
									</div>
								</div>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/most-liked-img-s3.jpg" alt="video">
									</div>
									<div class="media-body">
										<h1><a href="video-detail.html">Runner</a></h1>
										<p>
											<span><i class="fa fa-comment"></i> 10</span>
											<span><i class="fa fa-eye"></i> 534</span>
										</p>
									</div>
								</div>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/most-liked-img-s4.jpg" alt="video">
									</div>
									<div class="media-body">
										<h1><a href="video-detail.html">Fantasy</a></h1>
										<p>
											<span><i class="fa fa-comment"></i> 10</span>
											<span><i class="fa fa-eye"></i> 534</span>
										</p>
									</div>
								</div>
							</div>
							<div class="sidebar-vid most-viewd">
								<h1 class="sidebar-heading">更多畫作</h1>
								<div class="most-viewd-container">
									<div class="most-viewd-img">
										<img class="img-responsive" src="assets/images/most-viewd-1.jpg" alt="video">
									</div>
									<div class="most-viewd-text">
										<h1><a href="video-detail.html">Human Rights Violation</a></h1>
										<p>
											<span><i class="fa fa-comment"></i> 10</span>
											<span><i class="fa fa-eye"></i> 534</span>
										</p>
									</div>
								</div>
								<div class="most-viewd-container">
									<div class="most-viewd-img">
										<img class="img-responsive" src="assets/images/most-viewd-2.jpg" alt="video">
									</div>
									<div class="most-viewd-text">
										<h1><a href="video-detail.html">War Video Compilation</a></h1>
										<p>
											<span><i class="fa fa-comment"></i> 10</span>
											<span><i class="fa fa-eye"></i> 534</span>
										</p>
									</div>
								</div>							
							</div>
							<div class="tags">
								<h1 class="sidebar-heading">關鍵字</h1>
								<ul class="list-inline list-unstyled">
									<li><a href="#">3D</a></li>
									<li><a href="#">Animals &amp; Birds</a></li>
									<li><a href="#">HD</a></li>
									<li><a href="#">Horror</a></li>
									<li><a href="#">Art</a></li>
									<li><a href="#">Self</a></li>
									<li><a href="#">HD Songs</a></li>
									<li><a href="#">Comedy</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ui-view="footer"></div>
	</div>
</div>		
