<div ng-controller="headerMenuController">
<!-- Main Bar top -->
<div id="main-bar">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-5 col-xs-6 border-right">
				<div class="logo">
					<a href="#/">
						<img class="img-responsive" src="assets/images/logo.png" alt="Logo">	
					</a>
				</div>					
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="clearfix visible-xs"></div>
			<div class="col-md-7 col-sm-6 col-xs-6 border-right sm-border-top">
				<div class="search-box">
					<form method="post">
						<input type="text" ng-model="search.context" name="search" id="search" class="form-control" placeholder="Search" required>
						<button type="submit" class="search-icon" ng-click="searchRangeWorks()" >
							<i class="fa fa-search"></i>
						</button>
					</form>						
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 border-left sm-border-top">
				<div class="login">
					<div class="media">
						<!--<div class="media-mark">
							<a href="#/collection-listing">
								<i class="material-icons top-icon">bookmark_border</i>
							</a>
						</div>-->
						<div class="media-left">
							<a href="#/myfile" >
								<!--<img class="img-responsive play-svg svg" src="assets/images/user.svg" alt="play" onerror="this.src='assets/images/user.png'">-->
								<img class="img-responsive play-svg svg" ng-if="rg_gl.currentUser.userInfo.profilePicture!=null && rg_gl.currentUser.userInfo.profilePicture!=''" ng-src="{{imageLoadUrl}}{{rg_gl.currentUser.userInfo.profilePicture}}">
								<img class="img-responsive play-svg svg" ng-if="rg_gl.currentUser.userInfo.profilePicture==null || rg_gl.currentUser.userInfo.profilePicture==''" src="assets/images/avatar/photo-round@3x.png">
							</a>
						</div>
						<div class="media-body">
							<p>
								<a class="login-toggle" href="#/myfile">{{rg_gl.currentUser.userInfo.userName}}</a>
							</p>
						</div>
						<div class="media-body">
							<p>
								<a class="login-toggle" href="" ng-click="logout()">登出</a>
							</p>
						</div>
					</div>									
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Main Bar end -->

<!-- Main Navigation top -->
<div id="main-navigation">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-sm-12">
				<div id="cssmenu">
					<ul>
						<li ng-class="{'active':nav=='hot'}"><a href="#/hot-listing"><i class="fi ion-compose"></i>熱門畫作</a></li>
						<li ng-class="{'active':nav=='track'}"><a href="#/track-list"><i class="fi ion-android-desktop"></i>追蹤清單</a></li>
						<li ng-class="{'active':nav=='column'}"><a href="#/column"><i class="fi ion-ios-film-outline"></i>我的畫作</a></li>
						<li ng-class="{'active':nav=='category'}"><a href=""><i class="fi ion-android-apps"></i>畫作類別</a>
							<ul>
							  	<li ng-repeat="data in tagList track by $index">
							  		<a href="#/category-listing?type={{covertTag(data.tagName)}}">{{data.tagName}}</a>	
							  	</li>
							</ul>		
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 text-right hidden-sm hidden-xs" style="padding-top:20px" >
				<div class="row">
					<div class="col-md-6 col-lg-6">
						<a href="{{iTunesStoreUrl}}" target="_blank">
							<img class="img-responsive" src="assets/images/apple-store.png" alt="AppleStore">
						</a>
					</div>
					<div class="col-md-6 col-lg-6">
						<a href="{{googlePlayStoreUrl}}" target="_blank">
							<img class="img-responsive" src="assets/images/GooglePlay.png" alt="GooglePlay">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Main Navigation -->
</div>