<!-- Main Bar start -->
<div id="main-bar">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-5 col-xs-6 border-right">
				<div class="logo">
					<a href="#/home">
						<img class="img-responsive" src="assets/images/logo.png" alt="Logo">	
					</a>
				</div>					
			</div>
			<div class="col-md-10 col-sm-5 col-xs-5 hidden-md hidden-lg text-right"  style="padding-top:25px">
				<div class="row">
					<div class="col-sm-6 col-xs-6" style="margin:0;padding:5px;">
						<img class="img-responsive" src="assets/images/apple-store.png" alt="AppleStore">
					</div>
					<div class="col-sm-6 col-xs-6" style="margin:0;padding:5px;">
						<img class="img-responsive" src="assets/images/GooglePlay.png" alt="GooglePlay">
					</div>
				</div>
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="clearfix visible-xs"></div>
			<div class="col-md-7 col-sm-6 col-xs-6 border-right sm-border-top">
				<div class="search-box">
					<form method="post">
						<input type="text" name="search" id="search" class="form-control" placeholder="Search" required>
						<button type="submit" class="search-icon">
							<i class="fa fa-search"></i>
						</button>
					</form>						
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 border-left sm-border-top">
				<div class="login">
					<div class="media">
						<div class="media-left">
							<img class="img-responsive play-svg svg" src="assets/images/user.svg" alt="play" onerror="this.src='assets/images/user.png'">
						</div>
						<div class="media-body">
							<p>
								<a class="login-toggle" href="#" ng-click="logout()">登出</a>
							</p>
						</div>
					</div>									
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Main Bar end -->

<!-- Main Navigation start -->
<div id="main-navigation">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-sm-12">
				<div id="cssmenu">
					<ul>
						<li><a href="hot-listing.html"><i class="fi ion-compose"></i>熱門畫作</a></li>
						<li><a href="track-list.html"><i class="fi ion-android-desktop"></i>追蹤清單</a></li>
						<li><a href="column.html"><i class="fi ion-ios-film-outline"></i>我的畫作</a></li>
						<li><a href="#"><i class="fi ion-android-apps"></i>畫作類別</a>
							<ul>
							  	<li><a href="category-listing.html">類別一</a></li>
							  	<li><a href="category-listing.html">類別二</a></li>
							  	<li><a href="category-listing.html">類別三</a></li>
							</ul>		
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 text-right hidden-sm hidden-xs" style="padding-top:20px" >
				<div class="row">
					<div class="col-md-6 col-lg-6">
						<img class="img-responsive" src="assets/images/apple-store.png" alt="AppleStore">
					</div>
					<div class="col-md-6 col-lg-6">
						<img class="img-responsive" src="assets/images/GooglePlay.png" alt="GooglePlay">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Main Navigation -->