<div id="wrapper">
	<div id="main-content">
	<!-- Main Bar-->
	<div id="main-bar">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 ">
					<div class="logo">
						<a href="#/">
							<img class="img-responsive" src="assets/images/logo.png" alt="Logo">	
						</a>
					</div>					
				</div>
			</div>
		</div>
	</div>
	<!-- Main Bar -->
	<div class="container">
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"  style="padding-top:10px">
			<a href="https://www.apple.com/tw/itunes/charts/free-apps/" target="_blank">
				<img class="app-icon" src="assets/images/apple-store.png" alt="AppleStore">
			</a>
			<a href="https://play.google.com/store" target="_blank">
				<img class="app-icon" src="assets/images/GooglePlay.png" alt="GooglePlay">
			</a>
		</div>
	</div>

	<div id="secondary-section" class="vids-2-column">
		<div class="container">
		<div class="fromBox">
			<div class="row">
				<div class="col-md-4 visible-lg visible-md">
					<ul class="mleeu">
						<li><a href="#/about">關於BonnieDRAW</a></li>
						<li><a href="#/privacy">隱私權條款</a></li>
						<li><a href="#/terms" style="color: #f26f45; font-weight: bold;">使用條款</a></li>
					</ul>
				</div>

					<div class="col-md-8 col-sm-8">
							<div class="col-md-12  col-sm-12  col-xs-12" >
							<h2>使用條款</h2>
							<div class="privacy-box">
							<p>存取或使用 Instagram 網站、Instagram 服務，或是任何 Instagram 提供的應用程式（含行動應用程式）（以下統稱為「本服務」），不論存取方式為何，即表示您同意受以下使用條款（以下稱為「使用條款」）約束。本服務為 Instagram, LLC（以下稱為「Instagram」）所有或控管。本使用條款會影響您的法律權利與義務。如果您不願受所有使用條款約束，請勿存取或使用本服務。</p>
							<p>有時我們提供的特別功能除本使用條款之外，另有適用的專屬條款與條件。在那些情況下，若特別功能的專屬條款與本使用條款有所抵觸時，以專屬條款為準。</p>
							<p>仲裁說明：除非您選擇不接受，或是除了下述仲裁章節所提及的某些類別的爭議以外，您同意您與 INSTAGRAM 之間的爭議由具約束性的個別仲裁解決，並放棄參與集體訴訟或集體仲裁的權利。</p>
							</div>
							<div class="use-box">
								<p><strong>基本條款</strong></p>
								<ol>
									<li>您不得透過本服務張貼含有暴力、露點、部分露點、歧視、非法、侵權、仇恨、色情或性暗示的相片或其他內容。</li>
									<li>您必須對透過您帳號發生的任何活動負責，而且您同意不會出售、轉移、授權或轉讓您的帳號、粉絲、用戶名稱或任何帳號權利。除非經過明確授權，可代表員工或客戶建立帳號，否則 Instagram 禁止替自身以外的人建立帳號，您也同意不會這麼做。您表明註冊時提供給 Instagram 的所有資料均為屬實、正確、即時、完整。您同意必要時更新資料，以維持其真實及正確性。</li>
									<li>您同意不會徵求、收集或使用其他 Instagram 用戶的登入機密資料。</li>
									<li>您有責任保護自己的密碼機密性與安全性。</li>
									<li>您不得誹謗、跟蹤、脅迫、辱罵、騷擾、威脅、冒充、恐嚇其他人或機構，也不得透過本服務張貼私人或機密資料，包括但不限於您或其他人的信用卡資料、社會安全或其他國家身分證字號、非公開的電話號碼，或是非公開的電子郵件地址。</li>
									<li>您不得使用本服務從事任何非法或未經授權的活動。您同意遵守所有適用於與使用本服務及您內容（定義如下）相關的法令規章（例如聯邦法、州法、地方法和省法），包括但不限於著作權法。您需全權負責自己的行為，以及在本服務提交、張貼或展示的任何資料、文字、檔案、資訊、用戶名稱、影像、圖片、相片、個人檔案、音訊、影片、聲音、音樂作品、原作品、應用程式、連結或其他內容及資料（以下統稱為「內容」）。</li>
									<li>您不得改變、修改、改編或更改本服務，或是變更、修改或更改其他網站，以致於令人誤會該網站與本服務或 Instagram 有關。</li>
									<li>您不得以未經 Instagram 允許的方式存取 Instagram 的私人 API。使用 Instagram 的 API 須接受另一套條款規範，請見：http://instagram.com/about/legal/terms/api/（以下稱為「API 使用條款」）。</li>
									<li>您不得建立或送出其他人不想收到的電子郵件、留言、按讚或其他形式的商業或騷擾訊息（又稱為「垃圾訊息」）給任何 Instagram 用戶。</li>
									<li>未事先取得 Instagram 書面同意，不得在您的用戶名稱使用網域名稱或網址。</li>
									<li>您不得干擾或影響本服務或與本服務所連線的伺服器及網路，包括傳送任何電腦蠕蟲、病毒、間諜程式、惡意軟體或其他具有破壞性或干擾性的程式碼。您不得置入內容或程式碼、更動或干擾任何 Instagram 頁面在用戶瀏覽器或裝置上的呈現或顯示方式。</li>
									<li>您必須遵守 Instagram 的「社群守則」，請見：https://help.instagram.com/customer/portal/articles/262387-community-guidelines。</li>
									<li>您不得透過未經授權的方式建立本服務的帳號，包括但不限於使用自動化裝置、指令碼、Bot（機器人程式）、蜘蛛程式、網路爬蟲或抓取程式。</li>
									<li>您不得試圖阻止其他用戶使用或享受本服務，您也不得鼓勵或提供觸犯本使用條款或其他 Instagram 條款的途徑。</li>
									<li>違反本使用條款時，Instagram 可全權酌情終止您的 Instagram 帳號。您明白並同意 Instagram 不為本服務張貼的內容負責，您必須自行承擔使用本服務的風險。如果您違反本使用條款的內容或精神，或是以其他方式對 Instagram 造成危害或可能的法律風險，我們有權停止向您提供部分或所有服務。</li>
								</ol>
								<p><strong>一般條款</strong></p>
								<ol>
									<li>我們保留因任何理由得以隨時修改或終止本服務或是您存取本服務的權利，無須另行通知，且不必對您承擔任何責任。若要停用 Instagram 帳號，請登入本服務並完整填寫此表單：https://instagram.com/accounts/remove/request/。如果我們終止您對本服務的存取，或是您用上述表單停用帳號，則您的相片、留言、讚、朋友關係等所有資料將再也無法透過您的帳號取得（例如用戶會無法瀏覽您的用戶名稱和檢視您的相片），但這些資料可能會保留並出現在本服務中（例如您的內容由其他人轉分享時）。</li>
									<li>一旦帳號終止，所有使用條款賦予您的許可及其他權利會立刻停止。</li>
									<li>我們保留不時更改本使用條款（以下稱為「更新條款」）的全權酌情權利。除非是因為法律或管理原因進行變更，否則我們會在更新條款生效前給您合理的事先通知。您同意我們可以透過在本服務張貼更新條款的方式通知您，而在更新條款生效日期後使用本服務（或從事其他我們合理說明的行為），即表示您同意本更新條款。因此您在使用本服務前應該先檢視本使用條款及任何更新條款。更新條款自發佈時間或更新條款中所註明的時間起開始生效，並從此時起適用於您對本服務的使用。更新條款生效日期前產生的任何爭議均由本使用條款規範。</li>
									<li>我們保留隨時因任何理由拒絕讓任何人存取本服務的權利。</li>
									<li>我們保留因任何理由強制沒收任何用戶名稱的權利。</li>
									<li>我們得以但沒有義務移除、編輯、封鎖，以及／或監看內容，或是根據我們全權酌情判斷內容有違使用條款的帳號。</li>
									<li>您需全權負責自己與本服務其他用戶的互動行為（無論是在線上或離線）。您同意 Instagram 無需為任何用戶的行為負責或賠償。Instagram 保有權利，但沒有義務監看或介入您和其他用戶之間的爭議。與他人互動時，請運用常識和個人最佳判斷，特別是您提交或張貼內容以及任何個人或其他資料的時候。</li>
									<li>有些連結可能來自本服務，或是您從本服務收到的訊息，且這些連結可能通往第三方網站或功能。此外，有些通往第三方網站或功能的連結，是以影像或留言形式存在於本服務中。本服務也包含我們無法控制、維護或背書的第三方內容。本服務的功能可能也會允許本服務與第三方網站或功能互動，包括將本服務或您在本服務的個人檔案連結到第三方網站或功能的應用程式。例如，本服務可能有某個功能讓您能分享位於本服務的內容，或是您放在第三方的內容，這些內容可能是您公開張貼在該第三方的服務或是應用程式中。使用這類功能時，系統通常會要求您登入您在第三方服務的帳號，但您在這麼做時需自行承擔風險。Instagram 並未掌控這些第三方網路服務或其任何內容。您明確知道並同意 Instagram 完全無須為任何這類第三方服務或功能負責或賠償。您透過本服務進行的通信和商務交易完全是您和第三方之間的行為。您可以憑個人的絕對酌情決定權以及風險自負的情況下，選擇使用將本服務或您在本服務的個人檔案與第三方服務連結的應用程式（以下稱為「應用程式」）。這樣的應用程式有可能與您在本服務的個人檔案互動、連結或從您的個人檔案收集並／或取出資料，或是傳送資料到您的個人檔案。使用此類應用程式，表示您確知並同意下列事項：（i）如果使用應用程式分享資料，您同意我們分享您在本服務的個人檔案資料；（ii）您使用應用程式可能會造成個人識別資料公開，而且／或與您建立關聯，儘管 Instagram 本身不曾提供這樣的資料；（iii）使用應用程式是您自己的選擇，必須自行承擔風險，同時針對該應用程式相關之活動，您將免除 Instagram 各方（定義請見下方）承擔任何賠償責任。</li>
									<li>您同意支付因使用本服務所產生的所有數據傳輸費用。</li>
									<li>我們禁止透過自動化方式抓取、擷取、快取等方式存取本服務的任何內容，包括但不限於用戶個人檔案和相片（除非是經 Instagram 明確同意，由搜尋引擎使用標準搜尋引擎協定或技術所搜尋到的結果）。</li>
								</ol>
								<p><strong>權利</strong></p>
								<ol>
									<li>Instagram 對您在本服務或透過本服務張貼的任何內容並無所有權。相反地，您在此授與 Instagram 非獨家、已付清費用，而且免版稅、可轉移、可轉授權的全球性授權，可使用您依照本服務隱私政策規範（請見 http://instagram.com/legal/privacy/），在本服務或透過本服務張貼的內容，包括但不限於第 3 節（「分享您的資訊」）、第 4 節（「我們如何儲存您的資訊」），以及第 5 節（「關於您自身資訊的選擇權利」）。如隱私政策所述，您可以選擇讓什麼人檢視您的內容及活動，包括您的相片。</li>
									<li>本服務有部分是由廣告收入所支援，可能會展示廣告和推廣活動，您在此同意 Instagram 可以將這類廣告及推廣活動放在本服務中，或是和您的內容放在一起。我們並不會特別通知您有關廣告和推廣活動的風格、模式和範圍的變動。</li>
									<li>您確知我們未必每次都會指出哪些是有人付費的服務、得到贊助的內容，或是這類的商業通訊。</li>
									<li>您聲明且保證：（1）您擁有在本服務或透過本服務張貼的內容，或有權授予本使用條款中提及的權利及授權；（2）張貼或使用您在本服務或透過本服務張貼的內容並未違反、挪用或侵犯任何第三方的權利，包括但不限於隱私權、人格權、著作權、商標以及／或其他智慧財產權；（3）您同意支付因在本服務或透過本服務張貼內容所產生的所有權利金、費用，以及其他積欠款項，以及（4）您具有法律權利和能力可在您的司法管轄區締結本使用條款。</li>
									<li>本服務包含 Instagram 擁有或是經授權使用的內容（以下稱「Instagram 內容」）。Instagram 內容受到著作權法、商標法、專利法、商業機密法等法令保護，而且在您與 Instagram 之間，Instagram 擁有並保有 Instagram 內容及本服務中的所有權利。您不得移除、更改或隱藏任何包含或伴隨 Instagram 內容的著作權、商標、服務商標或其他所有權告示，也不得將 Instagram 內容重製、修改、改編、據以製作衍生著作、演出、展示、出版、散佈、傳送、廣播、出售、授權，或從事其他剝削行為。</li>
									<li>Instagram 的名稱和標誌為 Instagram 的商標，未經 Instagram 事先書面同意，不得部分或全部複製、模仿或使用。符合我們的品牌準則規範者不在此限。準則請見：https://www.instagram-brand.com/。此外，所有網頁標題、自訂圖片、按鈕圖示、指令碼均為服務標誌、商標和／或 Instagram 的商標形象，未經 Instagram 事先書面同意，不得部分或全部複製、模仿或使用。</li>
									<li>Instagram 雖竭盡全力讓本服務如常運作，但有時本服務可能受到中斷，原因包括但不限於定期維修或升級、緊急修理，或是電訊連線及／或設備故障。Instagram 同樣保有因任何理由從本服務移除任何內容的權利，無須事先告知。Instagram 可能會繼續儲存從本服務移除的內容，理由包括但不限於配合某些法律義務，但可能要取得有效法庭命令才能取出這些內容。因此，Instagram 鼓勵您自行保留內容備份。換言之，Instagram 並非備份服務，您同意不會依賴本服務作為內容備份或儲存之用。Instagram 不會因為本服務的任何修改、暫停、停止，或是任何內容的損失而賠償您。您也知道網際網路的安全性可能受到危害，提交的內容或其他資料可能會無法保密。</li>
									<li>您同意 Instagram 對張貼在本服務中的內容無須負責，亦無法為其背書。Instagram 沒有義務預審、監控、編輯或移除任何內容。如果您的內容違反本使用條款，您可能要為此承擔法律責任。</li>
									<li>除非如本服務的隱私政策所述，否則在您和 Instagram 之間，任何內容都不具機密性且沒有專屬權利，我們對內容的任何使用或揭露概不負責。您瞭解並同意您和 Instagram 之間並非機密、信託，或是其他各種特殊關係。您決定提交的任何內容並不表示 Instagram 的立場異於一般大眾，包括對您內容的看法。您的內容將不會受到 Instagram 所承受的任何保密義務影響，而 Instagram 對您提供的任何內容在使用或揭露上也概不負責。</li>
									<li>Instagram 的政策是不接受或考慮我們明訂之外的內容、資料、構想、建議或其他資料，而且這些資料可能適用某些特定條款和規定。這是為了避免您的構想與我們已開發或獨立開發中的構想雷同，因而產生任何誤會。因此 Instagram 並不接受主動提供的資料或構想，對任何這類資料或構想也概不負責。如果您無視於我們的政策，決定傳送內容、資料、構想、建議或其他資料給我們，就表示您進一步同意 Instagram 可任意使用這類內容、資料、構想、建議或其他資料，作為各種用途，包括但不限於開發和行銷產品與服務，無須給您任何賠償或費用。</li>
								</ol>
								<p><strong>通報著作權或其他智慧財產權侵權事件</strong></p>
								<ol>
									<li>我們尊重他人的權利，也希望您能比照辦理。</li>
									<li>我們為您提供工具，協助您保護智慧財產權。</li>
									<li>如您一再侵犯他人的智慧財產權，我們會適時停用您的帳號。</li>
								</ol>
								<p><strong>免責聲明</strong></p>
								<p>
									本服務（包括但不限於 INSTAGRAM 內容）是以「現狀」、「依可用性」以及「不保證沒有瑕疵」為基礎而提供。在法律容許的最大範圍內，INSTAGRAM 及其母公司或旗下任何雇員、經理、幹部或代理商（以下統稱為「INSTAGRAM 各方」）均不得明示或暗示有權代表、擔保或支持任何下列事項：（A）本服務；（B）INSTAGRAM 內容；（C）用戶內容；或是（D）有關資料傳輸到 INSTAGRAM 或透過本服務傳送的安全性。除此之外，INSTAGRAM 各方在此對所有明示或暗示的保證提出免責聲明，包括但不限於適銷性、特定用途的適用性、非侵權、所有權、關稅、貿易、平靜受益權、系統整合以及避免電腦病毒危害等擔保。
								</p>
								<p>INSTAGRAM 各方並不代表或保證：本服務毫無錯誤或不會中斷；對於缺陷會加以修正；本服務或使本服務可用的伺服器不會受到任何傷害，包括但不限於電腦病毒。INSTAGRAM 各方並未聲明或擔保本服務的資料（包括任何指示）為正確、完整或有用。您確知在使用本服務時需自行承擔風險。INSTAGRAM 各方並不保證您對本服務的使用在任何特定司法管轄區屬於合法，而且 INSTAGRAM 各方特此聲明拒絕此一擔保。某些司法管轄區會限制或禁止行使默示擔保等擔保的免責聲明，因此在該司法管轄區的法令適用於您和本使用條款時，該免責聲明未必適用。 </p>
								<p>
									存取或使用本服務，即表示您聲明並保證您在所有存取或使用本服務的司法管轄區中，從事的活動均屬合法。
								</p>
								<p>
									INSTAGRAM 各方並不替內容背書，並特別聲明，對於任何人或實體因任何內容造成的損失或損害（無論是實際、衍生性、懲罰性等等）、損傷、索償、求償或任何其他原因及性質，本服務概不負責或賠償。
								</p>
								<p><strong>責任範圍；免責協議</strong></p>
								<p>
									無論在何種情況下，INSTAGRAM 各方對您因下列任何直接或間接因素造成的任何損失或損害（包括但不限於任何直接、間接、經濟性、懲戒性、特別性、懲罰性、附帶性或衍生性損失或損害）不負賠償之責：（A）本服務；（B）INSTAGRAM 內容；（C）用戶內容；（D）您使用、無法使用本服務，或是本服務的呈現；（E）任何因 INSTAGRAM 各方或執法機關對您或任何其他各方使用本服務進行調查而產生的訴訟；（F）任何與著作權或其他智慧財產權所有者相關的訴訟；（G）任何本服務的營運造成的錯誤或疏忽；（H）任何用戶電腦、行動裝置、其他設備或技術受到的損害，包括但不限於下列因素造成的資料外洩：任何電腦病毒、蠕蟲、竄改、詐欺、錯誤、疏忽、中斷、缺陷、操作或傳輸延遲、電腦線路或網路故障，或是任何其他技術及失靈，包括但不限於利益損失、商譽損失、資料損失、停工、結果正確性所受的損害，或是電腦故障或失靈，儘管是可預見或 INSTAGRAM 各方曾接到提醒，或應當知道該種損害的可能性，無論是合約訴訟、疏忽訴訟、嚴格責任訴訟或是侵權訴訟（包括但不限於是否全部或部分因疏忽、天意、電訊故障、偷竊或服務受損所造成）。INSTAGRAM 各方對於您或任何人的損失、損害或損傷（包括但不限於死亡或個人傷害）概不負賠償之責。某些州禁止排除或限制附帶性或衍生性損害，因此上述限制或免責未必適用於您。INSTAGRAM 各方對於您所有的損害、損失或訴訟原因的賠償金額以一百美元（$100.00）為限。 
								</p>
								<p>
									您同意因 INSTAGRAM 的行動或疏忽造成任何損害、損失或損傷時，若您蒙受的損害並非無法修復或足以讓您聲請禁止令，避免任何人利用任何由 INSTAGRAM 各方擁有或掌控的網站、服務、財產、產品或其他內容，您將無權責成或限制由 INSTAGRAM 各方擁有或掌控的網站、財產、產品、服務或其他內容的研發、生產、散佈、廣告、展示或開發。 
								</p>
								<p>
									存取本服務即表示您瞭解自己可能放棄了目前未知或未預期的求償權利，而根據此一免責聲明，您確認自己已經詳讀並瞭解，在此明確放棄加州民法第 1542 節以及任何州或領地類似法令的權益，內容如下：「一般性放棄求償的涵義並不擴及債權人在執行不求償協議時，未知悉或懷疑對其個人有利的求償存在，如果債權人知情，該求償必將對與債務人間的清償產生實質影響。」 
								</p>
								<p>INSTAGRAM 並不負責第三方的行為、內容、資料或數據。您從已知和未知的任何索償和損害、與第三方引起或與第三方有關的任何索償，解除本公司、董事長、高層長官、僱員和代理商的責任。
								</p>
								<p><strong>賠償</strong></p>
								<p>
									您（以及您在本服務代為操作帳號或活動的任何第三方）同意保護（應 Instagram 要求）Instagram 各方免於承擔由於下述原因（包括您在本服務的直接活動，或是您的代理人所造成的後果）帶來的任何索償要求，免於賠償或負擔任何損害、損失責任及費用，包括但不限於合理的律師費用及支出：（i）您在本服務的內容、存取及使用；（ii）您違反或被指稱違反本使用條款；（iii）您侵犯任何第三方權利，包括但不限於任何智慧財產權、人格權、機密、財產或隱私權；（iv）您違反任何政府或半政府機關的法令規章，包括但不限於監管機關、行政機關和立法機關；或是（v）您的任何不實陳述。您同意在各種索償抗辯中，全力配合 Instagram 的要求。對於您造成的賠償事宜，Instagram 保留獨家全權處理權利，未經 Instagram 事先書面同意，您不得與任何索償案和解。
								</p>
								<p><strong>仲裁</strong></p>
								<p>
									若您選擇退出，或是和下列相關的爭議，則不在此限：（1）您或 Instagram 的智慧財產權（例如商標、整體形象、網域名稱、商業機密、著作權與專利）；（2）違反 API 使用條款；（3）違反基本條款第 13 或 15 則，以上（「豁除爭議」），您同意所有您和 Instagram 之間有關兩方關係的所有爭議（無論是否與第三方相關），包括但不限於與使用條款相關的爭議、您對本服務的使用，以及／或隱私權，以及／或人格權，都會根據美國仲裁協會對消費相關爭議的仲裁規定，透過具有約束力的個別仲裁解決。Instagram 在此明確放棄陪審團審判。作為替代方案，您可在當地小額仲裁法庭提出求償，前提是小額仲裁法庭受理。您可以只代表自己求償。您或 Instagram 都不會參加這份協議書涵蓋的集體訴訟或集體仲裁求償案。您也同意如果 Instagram 是訴訟程序其中一方時，您不會參與由自訴人或具有代理人資格者提出的求償，或是有關他人帳號的聯合求償。解決爭議的條款由聯邦仲裁法管轄。若美國仲裁協會不願意或無法在訴案提出的一百六十（160）天內確定聽證會日期，Instagram 或您可選擇將仲裁轉交由司法仲裁調解服務公司（Judicial Arbitration and Mediation Services）處理。由仲裁員所做的仲裁可進入任何一處有管轄權的法庭。儘管有適用的法律條款，仲裁員並無權裁定與本使用條款抵觸的損害、補償或賠償。 
								</p>
								<p>
									您可選擇退出本仲裁協議。您若是這麼做，您或 Instagram 都不能要求對方參與仲裁程序。若要退出仲裁，您必須在成為仲裁案主角的 30 天內以書面通知 Instagram。
								</p>
								<p>如果制止代表上述第三方提出集體訴訟或其他求償案的行動無法實施，則本「仲裁」節上述所有文字都視同無效。本仲裁協議在您終止與 Instagram 的關係後仍會存續。</p>
								<p><strong>求償時限</strong></p>
								<p>
									您同意任何因您和 Instagram 的關係產生的求償必須在求償原因發生後一年內提出，否則將永久禁止提出。
								</p>
								<p><strong>管轄法與管轄地點</strong></p>
								<p>
								本使用條款僅受美國加州州法管轄，不考慮與其他法令是否抵觸之原則，同時具體不受聯合國國際貨物銷售合同公約（United Nations Conventions on Contracts for the International Sale of Goods）之管轄，若其他狀況則適用。您同意任何有關本使用條款、豁除爭議的法律訴訟，或依公平正義原則進行的仲裁，又或是您選擇退出仲裁協議，任何您與 Instagram 之間的爭議都會在加州聖塔克拉拉縣（Santa Clara County）的州立法院或聯邦法院審理，所有這類訴訟必須向加州聖塔克拉拉縣所在的法院提出。 	
								</p>
								<p>
								如果本使用條款有任何條文遭認定不合法、無效，或在仲裁期間因任何原因無法強制執行，或是由具有管轄權的法院審理，則該項條文會從使用條款中分割，對其餘任何條文的合法性與強制執行力並無影響。Instagram 無法堅持或強制嚴格執行本條款任何條文，並不表示放棄任何條文或權利。放棄本條款任何條文並不表示會進一步或一併放棄該條款或其他條款。Instagram 保留修改爭議解決條文的權利，但任何更動並不適用於修正條款生效日之前產生的爭議。爭議解決條款在您與 Instagram 之間任何或所有交易結束後仍會存續。
								</p>
								<p><strong>完整協議</strong></p>
								<p>
								如果您代表某法律實體使用本服務，就表示您取得授權，代表該法律實體成立協議。本使用條款構成您和 Instagram 之間完整的協議，並規範您對本服務的使用，取代您和 Instagram 之間任何之前的協議。如未取得 Instagram 事先書面同意，您便不得轉讓此使用條款或任何權利，也不能委派以下任何完整或部分義務，除非是出於自願，或是根據法律運作。任何沒有 Instagram 事前書面同意的轉讓及委派均視同無效。Instagram 可能會在未徵得您同意下轉讓本使用條款或以下權利。如果本使用條款中任何條文遭具有管轄權的法庭認定無效或無法強制執行，儘管如此雙方同意這段文字應該從使用條款切割，並不會影響其餘條款的合法性與強制執行力，剩餘使用條款仍具有完整執行力與效力。雙方之間的行為過程或是交易並不會更動使用條款。本使用條款並未授予任何第三方受益權。
								</p>
								<p><strong>地域限制</strong></p>
								<p>
								本服務提供的資料並非旨在於任何司法管轄區或國家／地區讓任何人或實體散佈及使用，在這類散佈或使用與法令有所抵觸的地方，Instagram 必須遵守該司法管轄區或國家／地區的註冊規定。我們保留權利，可隨時全權酌情限制服務的可用性，或是讓本服務的部分開放給任何人、地區、司法管轄區，並限制任何內容、方案、產品服務或 Instagram 提供的其他功能之數量。
								</p>
								<p>
								與本服務相關或可用的軟體可能會受到美國出口管制之監督。因此本服務的軟體不得下載、出口或轉出口給：（a）任何美國實施禁運的國家（或該國人民或居民）；（b）美國財政部特別指定國民名單（Specially Designated Nationals）或美國商務部拒絕往來名單（Table of Deny Orders）上的人士。下載本服務任何相關軟體，即代表您聲明並保證並非位於禁運國，或是受到禁運國的國民、居民，或是名單中人士的控制。 
								</p>
							</div>
					</div>
				</div>
						
			</div>
		</div>
	</div>
</div>

<div id="copyright">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-xs-12 text-center" ng-controller="footerController">
				<ul class="footer-menu">
					
					<li>
						<span class="pqycz">
						語言
						<select class="fsoey" ng-options="ln.dictionaryCode as ln.dictionaryName for ln in dictionaryList" ng-model="language" ng-change="switchLanguage(language)"></select>
						<!-- <select class="fsoey" ng-model="language" ng-change="switchLanguage(language)"> -->
						<!--<option value="af">Afrikaans</option>
						<option value="cs">Čeština</option>
						<option value="da">Dansk</option>
						<option value="de">Deutsch</option>
						<option value="el">Ελληνικά</option> -->
						<!-- <option value="en" >English</option> -->
						<!--<option value="es">Español</option>
						<option value="fi">Suomi</option>
						<option value="fr">Français</option>
						<option value="id">Bahasa Indonesia</option>
						<option value="it">Italiano</option>
						<option value="ja">日本語</option>
						<option value="ko">한국어</option>
						<option value="ms">Bahasa Melayu</option>
						<option value="nb">Norsk</option>
						<option value="nl">Nederlands</option>
						<option value="pl">Polski</option>
						<option value="pt-br">Português (Brasil)</option>
						<option value="pt">Português (Portugal)</option>
						<option value="ru">Русский</option>
						<option value="sv">Svenska</option>
						<option value="th">ภาษาไทย</option>
						<option value="tl">Filipino</option>
						<option value="tr">Türkçe</option>
						<option value="zh-cn">中文(简体)</option> -->
						<!-- <option value="zh-tw">中文(台灣)</option> -->
<!-- 							<option value="bn">বাংলা</option>
						<option value="gu">ગુજરાતી</option>
						<option value="hi">हिन्दी</option>
						<option value="hr">Hrvatski</option>
						<option value="hu">Magyar</option>
						<option value="kn">ಕನ್ನಡ</option>
						<option value="ml">മലയാളം</option>
						<option value="mr">मराठी</option>
						<option value="ne">नेपाली</option>
						<option value="pa">ਪੰਜਾਬੀ</option>
						<option value="si">සිංහල</option>
						<option value="sk">Slovenčina</option>
						<option value="ta">தமிழ்</option>
						<option value="te">తెలుగు</option>
						<option value="ur">اردو</option>
						<option value="vi">Tiếng Việt</option>
						<option value="zh-hk">中文(香港)</option>
						<option value="bg">Български</option>
						<option value="fr-ca">Français (Canada)</option>
						<option value="ro">Română</option>
						<option value="sr">Српски</option> -->
					<!-- </select> -->
						</span>
					</li>
				</ul>
			</div>
			<div class="col-sm-6 col-xs-12 text-center">
				<p>	© 2017 <a href="http://www.sourcecode.tw">SourceCode</a></p>  
			</div>
		</div>
	</div>
</div>