<div id="wrapper">
	<div id="main-content">
		<div ui-view="headerMenu"></div>

		<!-- Main Section -->
		 <div id="main-section">
			<div class="container">
				<div class="row overflow-hidden">
			    	<!--<div class="col-md-6 col-sm-12 md-grid" ng-repeat="data in secondarySectionArr_popular_first track by $index">-->
			    	<div class="col-md-6 col-sm-12 md-grid" ng-repeat="data in secondarySectionArr_popular_first track by $index">
			       		<div class="vid-img-holder wow pulse" data-wow-duration="{{data.delay}}">
			        		<div class="top-shadow">
								<span style="float:left; width: auto;">
									<!--<i class="material-icons author-font-icon">favorite_border</i>-->
										<a ng-click="clickWorksLikeOne('p')" class="_eszkz _l9yih" href="" role="button" aria-disabled>
										<i ng-if="!data.like" class="material-icons font-icon" style="color: white;">favorite_border</i>
										<i ng-if="data.like" class="material-icons font-icon" style="color: white;">favorite</i>
									</a>
									{{data.likeCount}}
								</span>
			            	</div>
			            	<a ng-href="#/column-detail?id={{data.worksId}}">
			                	<!-- <img class="img-responsive hidden-sm hidden-xs" ng-src="{{imageLoadUrl}}{{secondarySectionArr_popular_first.imagePath}}" alt="video_thumb">
			                	<img class="img-responsive hidden-md hidden-lg" ng-src="{{imageLoadUrl}}{{secondarySectionArr_popular_first.imagePath}}" alt="video_thumb"> -->
			                	<img class="img-responsive firstimg" ng-src="{{imageLoadUrl}}{{data.imagePath}}" on-error-src="assets/images/image-not-found.png" alt="image">
			                	<span class="play-icon">
			                		<img class="img-responsive play-svg svg" src="assets/images/play-button.svg" alt="play" onerror="this.src='assets/images/play-button.png'">		                	
			                	</span>			                			                
			            	</a> 
			            	<h3 class="vid-author">
				                <span>
				                    By <a href="#/userfile/{{data.userId}}" rel="author">{{data.userName}}</a>
				                </span>
				                <a ng-href="#/column-detail?id={{data.worksId}}">{{data.title}}</a>
			            	</h3> 
			            	<div class="bottom-shadow"></div>
			            	<div class="overlay-div"></div>		
			       	 	</div>
			    	</div>

			   		<div class="col-md-3 col-sm-6 small-grid" ng-repeat="data in secondarySectionArr_popular track by $index">
		          		<div class="vid-img-holder wow fadeInUp" data-wow-duration="{{data.delay}}">
	                		<div class="top-shadow">

								<span style="float:left; width: auto;">
									<!--<i class="material-icons author-font-icon">favorite_border</i>-->
										<a ng-click="clickWorksLike($index, 'p')" class="_eszkz _l9yih" href="" role="button" aria-disabled>
										<i ng-if="!data.like" class="material-icons font-icon" style="color: white;">favorite_border</i>
										<i ng-if="data.like" class="material-icons font-icon" style="color: white;">favorite</i>
									</a>
									{{data.likeCount}}
								</span>
	                		</div>
	                  		<a ng-href="#/column-detail?id={{data.worksId}}">
	                    		<img class="img-responsive" ng-src="{{imageLoadUrl}}{{data.imagePath}}" on-error-src="assets/images/image-not-found.png" alt="image">
	                    		<!--<img class="img-responsive hidden-md hidden-lg" src="{{imageLoadUrl}}{{data.imagePath}}" alt="video_thumb">-->
	                    		<span class="play-icon play-small-icon">
			                		<img class="img-responsive play-svg svg" src="assets/images/play-button.svg" alt="play" onerror="this.src='assets/images/play-button.png'">		                	
			                	</span>	
	                  		</a>  
	                  		<h3 class="vid-author">
		                    	<span>
		                    		By <a href="#/userfile/{{data.userId}}" title="Posts by admin" rel="author">{{data.userName}}</a>
		                    	</span>
			                    <a ng-href="#/column-detail?id={{data.worksId}}">{{data.title}}</a>
	                  		</h3> 
	                  		<div class="bottom-shadow"></div>
	                  		<div class="overlay-div"></div>
		          		</div>
		      		</div>	      	
				</div>
			</div>
		</div>
		<!-- Main Section -->

		<!-- Secondary Section -->
		<div id="secondary-section">
			<div class="container">
				<div class="row">
					<!-- <div class="col-md-9 col-sm-8"> -->
					<div class="col-md-9 col-sm-8" ng-class="{true: 'container-full', false: ''}[secondarySectionArr_userLike==null]">
						<div class="latst-vid secondary-vid">
							<div class="vid-heading overflow-hidden">
								<span class="wow fadeInUp" data-wow-duration="0.8s">{{'HOME.NEW_UPLOAD' | translate}}</span>
								<div class="hding-bottm-line wow zoomIn" data-wow-duration="0.8s"></div>
							</div>
							<div class="row auto-clear">
								<div class="vid-container">
									<div class="col-md-4 col-sm-6" ng-repeat="newUpload in secondarySectionArr_new track by $index">
										<div class="latest-vid-img-container">		
											<div class="vid-img">
												<img class="img-responsive" ng-src="{{imageLoadUrl}}{{newUpload.imagePath}}" on-error-src="assets/images/image-not-found.png" alt="image">
												<a ng-href="#/column-detail?id={{newUpload.worksId}}" class="play-icon play-small-icon">
							                		<img class="img-responsive play-svg svg" src="assets/images/play-button.svg" alt="play" onerror="this.src='assets/images/play-button.png'">            	
							                	</a>
												<div class="overlay-div"></div>
											</div>
											<div class="vid-text">
												<section class="_hmd6j _8oo9w">
													<a ng-click="clickWorksLike($index, 'n')" class="_eszkz _l9yih" href="" role="button" aria-disabled>
														<i ng-if="!newUpload.like" class="material-icons font-icon">favorite_border</i>
														<i ng-if="newUpload.like" class="material-icons font-icon">favorite</i>
													</a>
													<span>{{newUpload.likeCount}}</span>
													<!-- <a href=""><i class="material-icons share-icon">share</i></a> -->
												</section>
												<p><a ng-href="#/userfile/{{newUpload.userId}}">{{newUpload.userName}}</a></p>
												<h1><a ng-href="#/column-detail?id={{newUpload.worksId}}">{{newUpload.title}}</a></h1>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!--<div class="most-viewd secondary-vid">
							<div class="vid-heading overflow-hidden">
								<span class="wow fadeInUp" data-wow-duration="0.8s">{{'HOME.HOT_CREATION' | translate}}</span>
								<div class="hding-bottm-line wow zoomIn" data-wow-duration="0.8s"></div>
							</div>
							<div class="row">
								<div class="vid-container">
									<div class="col-md-4 col-sm-6" ng-repeat="popularCreation in secondarySectionArr_popular track by $index">
										<div class="latest-vid-img-container">		
											<div class="vid-img">
												<img class="img-responsive" ng-src="{{imageLoadUrl}}{{popularCreation.imagePath}}" on-error-src="assets/images/image-not-found.png" alt="image">
												<a ng-href="#/column-detail?id={{popularCreation.worksId}}" class="play-icon play-small-icon">
							                		<img class="img-responsive play-svg svg" src="assets/images/play-button.svg" alt="play" onerror="this.src='assets/images/play-button.png'">
							                	</a>
												<div class="overlay-div"></div>
											</div>
											<div class="vid-text">
												<section class="_hmd6j _8oo9w">
													<a ng-click="clickWorksLike($index, 'p')" class="_eszkz _l9yih" href="" role="button" aria-disabled>
														<i ng-if="!popularCreation.like" class="material-icons font-icon">favorite_border</i>
														<i ng-if="popularCreation.like" class="material-icons font-icon">favorite</i>
													</a>
													<span>{{popularCreation.likeCount}}</span>
													<!-- <a href=""><i class="material-icons share-icon">share</i></a> -->
												<!--</section>
												<p><a ng-href="#/userfile/{{popularCreation.userId}}">{{popularCreation.userName}}</a></p>
												<h1><a ng-href="#/column-detail?id={{popularCreation.worksId}}">{{popularCreation.title}}</a></h1>
											</div>
										</div>
									</div>				
								</div>
							</div>
						</div>-->
						<!-- pagination top -->	
						<div class="pagination-container text-center">
							<ul class="pagination">
							   	<li>
							   		<a href="" ng-hide="offset==1 || maxPagination==0" ng-click="movePagin(-1)">&laquo;</a>
							   	</li>
							   	<li ng-class="{true:'active',false:''}[offset==pagin]" ng-repeat="pagin in paginList">
							   		<a href="" ng-click="clickPagin(pagin)">{{pagin}}</a>
							   		<div class="pagination-hvr"></div>
							   	</li>
							   	<li>
							   		<a href="" ng-hide="offset==maxPagination || maxPagination==0" ng-click="movePagin(1)">&raquo;</a>
							   	</li>
							</ul>
						</div>
						<!-- pagination end -->
					</div>

 					<div class="col-md-3 col-sm-4" ng-show="secondarySectionArr_userLike!=null">
						<div class="sidebar">
							<div class="sidebar-vid most-liked">
								<h1 class="sidebar-heading">{{'HOME.USER_LIKE' | translate}}</h1>
								<div class="media" ng-repeat="data in secondarySectionArr_userLike track by $index">
									<div class="media-left">
										<img ng-src="{{imageLoadUrl}}{{data.imagePath}}" on-error-src="assets/images/image-not-found.png" alt="image">
									</div>
									<div class="media-body">
										<h1><a ng-href="#/column-detail?id={{data.worksId}}">{{data.title}}</a></h1>
										<p>
											<span><i class="fa fa-comment"></i>{{data.msgCount}}</span>
											<span><i class="fa fa-heart-o"></i>{{data.likeCount}}</span>
										</p>
									</div>
								</div>
							</div>

							<!-- <div class="sidebar-vid most-viewd">
								<h1 class="sidebar-heading">{{'HOME.MORE_CREATION' | translate}}</h1>
								<div class="most-viewd-container" ng-repeat="data in secondarySectionArr_moreCreation track by $index">
									<div class="most-viewd-img">
										<img class="img-responsive" ng-src="{{data.img}}" alt="video">
									</div>
									<div class="most-viewd-text">
										<h1><a ng-href="#/column-detail?id={{data.worksId}}">{{data.title}}</a></h1>
										<p>
											<span><i class="fa fa-comment"></i>{{data.comment}}</span>
											<span><i class="fa fa-eye"></i>{{data.view}}</span>
										</p>
									</div>
								</div>	
							</div> -->

							<div class="tags">
								<h1 class="sidebar-heading">{{'HOME.KEYWORD' | translate}}</h1>
								<ul class="list-inline list-unstyled">
									<li ng-repeat="data in secondarySectionArr_keyword track by $index">
										<a href="#/category-listing?type={{covertTag(data.tagName)}}">{{data.tagName}}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ui-view="footer"></div>
	</div>
</div>
