<div class="main-content-inner">
	<div class="page-content" style="background: #E0FFFF;">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_content">
					<div class="row">
						<div class="col-xs-12">
							<h3 class="grey lighter">
								<i class="ace-icon fa fa-newspaper-o green"></i>
								作品資料明細
							</h3>
							<div class="hr hr-18 hr-double dotted"></div>
							<div class="x_content">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right"> 按讚數 </label>
										<div class="col-sm-9">
											<label class="control-label">{{userDetail.followNum}}</label>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right"> 留言數 </label>
										<div class="col-sm-9">
											<label class="control-label">{{userDetail.fansNum}}</label>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right"> 是否有被檢舉 </label>
										<div class="col-sm-9">
											<label class="control-label">{{userDetail.fansNum}}</label>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right"> 隱私權限 </label>
										<div class="col-sm-9">
											<select class="col-xs-10 col-sm-5" ng-disabled="true" ng-model="userDetail.userType" convert-to-number>
												<option value="1">公開</option>
												<option value="2">私人</option>
												<option value="3">非公開</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right"> 製作平台 </label>
										<div class="col-sm-9">
											<select class="col-xs-10 col-sm-5" ng-disabled="true" ng-model="userDetail.userType" convert-to-number>
												<option value="1">Android</option>
												<option value="2">IOS</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right"> 標題 </label>
										<div class="col-sm-9">
											<input type="text" ng-disabled="true" ng-model="userDetail.userCode" class="col-xs-10 col-sm-5"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right"> 說明 </label>
										<div class="col-sm-9">
											<input type="text" ng-disabled="true" ng-model="userDetail.userName" class="col-xs-10 col-sm-5"/>
										</div>
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>