<div id="wrapper">
	<div id="main-content">
		<div ui-view="headerMenu"></div>
		<div id="secondary-section" class="vids-2-column">
			<div class="container">
				<div class="fromBox">
					<div class="row">
						<div class="col-md-4 visible-lg visible-md">
							<ul class="mleeu">
								<li><a href="#/memberfile" ng-click="switchView('profile')" >編輯個人檔案</a></li>
								<li><a href="#/memberfile?v=2" ng-click="switchView('modifyPwd')" >更改密碼</a></li>
							</ul>
						</div>
						<div class="col-md-8 col-sm-8">
							<div class="_1eg8c">
								<div class="_l8yre _5g4e2 col-md-4 col-sm-4 col-xs-4">
									<button class="_1frkc" title="更換大頭貼照">
										<img class="_fya1f" alt="更換大頭貼照" src="assets/images/avatar2.png">
									</button>
								</div>
								<div class="col-md-8 col-sm-8 col-xs-4" ><h1 class="_9dz61">{{user.userName}}</h1></div>
<!-- 								<div style="margin:20px 10px;">
									<form enctype="multipart/form-data">
									<input type="file" accept="image/jpeg"> 
									</form>
								</div> -->
							</div>

							<div ng-switch="tagView">
								<!-- profile -->
								<div ng-switch-when="profile" class="col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;">
									<form role="form" name="myForm" ng-submit="commitProfile(myForm.$valid)">
										<div class="form-group">
											<div class="row">
												<div class="col-md-2 col-xs-3">
													<label class="from-text">姓名</label>
												</div>
												<div class="col-md-5 col-xs-9">
													<input type="text" class="form-control" aria-required="false" id="pepName" ng-model="user.userName">
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-md-2 col-xs-3">
													<label class="from-text">用戶名稱</label>
												</div>
												<div class="col-md-10 col-xs-9">
													<input type="text" class="form-control" aria-required="true" id="pepUsername" ng-disabled="true" ng-model="user.userCode" >
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-md-2 col-xs-3">
													<label class="from-text">網站</label>
												</div>
												<div class="col-md-10 col-xs-9">
													<input type="text" class="form-control" aria-required="false" id="pepWebsite" ng-model="user.webLink">
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-md-2 col-xs-3">
													<label class="from-text">個人簡介</label>
												</div>
												<div class="col-md-10 col-xs-9">
													<textarea class="form-control" id="pepBio" ng-model="user.description" style="resize: none;" maxlength="500"></textarea>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-md-2 col-xs-3">
													<label class="from-text">電子郵件</label>
												</div>
												<div class="col-md-10 col-xs-9">
													<input type="email" name="email" class="form-control" id="login-email" 	placeholder="電子郵件" ng-model="user.email" required >
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-md-2 col-xs-3">
													<label class="from-text">電話號碼</label>
												</div>
												<div class="col-md-10 col-xs-9">
													<input type="text" class="form-control" aria-required="false" id="pepPhone Number" ng-model="user.phoneNo" >
												</div>
											</div>
										</div>
										<div class="form-group" style="margin-top:20px;">
											<div class="row">
												<div class="col-md-2 col-xs-3">
												<label class="from-text">性別</label>
												</div>
											    <div class="col-md-10 col-xs-9">
													<select id="pepGender" ng-model="user.gender" convert-to-number>
														<option value="1">男性</option>
														<option value="2">女性</option>
														<option value="">未指定</option>
													</select>
												</div>
											</div>
										</div>
								
										<div class="form-group">
											<div class="col-md-2 formBut">
												<button type="submit" value="login" class="btn btn-block btn2-login text-uppercase">確認</button>	
											</div>
										</div>
									</form>
								</div>

								<!-- modifyPwd -->
								<div ng-switch-when="modifyPwd" class="col-md-12  col-sm-12  col-xs-12" style="margin-top:30px;">
									<form role="form" name="myForm" ng-submit="commitPwd(myForm.$valid)">
										<div class="form-group">
											<div class="row">
												<div class="col-md-2 col-xs-3">
													<label class="from-text">舊密碼</label>
												</div>
												<div class="col-md-10 col-xs-9">
													<input type="password" ng-model="param.oldPwd" class="form-control" required>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-md-2 col-xs-3">
													<label class="from-text">新密碼</label>
												</div>
												<div class="col-md-10 col-xs-9">
													<input type="password" ng-model="param.newPwd" class="form-control" required>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-md-2 col-xs-3">
													<label class="from-text">確認密碼</label>
												</div>
												<div class="col-md-10 col-xs-9">
													<input type="password" ng-model="param.confirmPwd" class="form-control" required>
												</div>
											</div>
										</div>
								
										<div class="form-group">
											<div class="col-md-2 formBut">
												<button type="submit" value="login" class="btn btn-block btn2-login text-uppercase">確認</button>	
											</div>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div ui-view="footer"></div>
		</div>
	</div>
</div>


