<div id="wrapper">
	<div id="main-content">
		<div ui-view="headerMenu"></div>
		<!-- 4 Column Video -->
		<div id="secondary-section" class="vids-2-column">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="st-4-column secondary-vid">
							<div class="vid-heading overflow-hidden">
								<span class="wow fadeInUp" data-wow-duration="0.8s">追蹤清單</span>
								<div class="hding-bottm-line wow zoomIn" data-wow-duration="0.8s"></div>
							</div>
							<div class="row">
								<div class="vid-container">
									<div class="col-md-3 col-sm-6" ng-repeat="data in mainSectionArr track by $index">
										<div class="latest-vid-img-container">		
											<div class="vid-img">
												<img class="img-responsive" ng-src="{{data.img}}" alt="video image">
												<a href="#/video-detail" class="play-icon play-small-icon">
							                		<img class="img-responsive play-svg svg" src="assets/images/play-button.svg" alt="play" onerror="this.src='images/play-button.png'">	                	
							                	</a>
												<div class="overlay-div"></div>
											</div>
											<div class="vid-text">
												<section class="_hmd6j _8oo9w">
													<a class="_eszkz _l9yih" href="#" role="button" aria-disabled>
														<i class="material-icons font-icon">{{data.text.title}}</i>
													</a>
													<span>
														<i class="fa fa-thumbs-o-up thumbs-font-icon" aria-hidden="true"></i>{{data.text.like}}
													</span>
												</section>
												<p><span>By</span> <a href="#">{{data.text.author}}</a></p>
												<h1><a href="#/column-detail">{{data.text.description}}</a></h1>
											</div>
										</div>
									</div>
								</div>

								<!-- pagination top -->			
								<div class="pagination-container text-center">
									<ul class ="pagination">
									   	<li>
									   		<a href = "#">&laquo;</a>								   		
									   	</li>
									   	<li class="active">
									   		<a href = "#">1</a>
									   		<div class="pagination-hvr"></div>
									   	</li>
									   	<li>
									   		<a href = "#">2</a>
									   		<div class="pagination-hvr"></div>
									   	</li>
									   	<li>
									   		<a href = "#">3</a>
									   		<div class="pagination-hvr"></div>
									   	</li>
									   	<li>
									   		<a href = "#">4</a>
									   		<div class="pagination-hvr"></div>
									   	</li>
									   	<li>
									   		<a href = "#">5</a>
									   		<div class="pagination-hvr"></div>
									   	</li>
									   	<li>
									   		<a href = "#">&raquo;</a>								   		
									   	</li>
									</ul>
								</div>
								<!-- pagination end -->
							</div>
						</div>					
					</div>				
				</div>
			</div>
		</div>
		<div ui-view="footer"></div>
	</div>
</div>