<div id="wrapper">
	<div id="main-content">
		<div ui-view="headerMenu"></div>
		<div id="secondary-section" class="vids-2-column">
			<div class="container">
				<div class="col-md-8 col-md-offset-4 col-sm-6 col-sm-offset-4 col-xs-8 col-xs-offset-2">
					<div class="_1eg8c">
						<div class="_l8yre _5g4e2x col-md-4 col-sm-6 col-xs-10 col-xs-offset-2">
							<img class="_fya1f" ng-if="user.profilePicture!=null && user.profilePicture!=''" ng-src="{{imageLoadUrl}}{{user.profilePicture}}">
							<img class="_fya1f" ng-if="user.profilePicture==null || user.profilePicture==''" src="assets/images/avatar2.png">
						</div>
						<div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1">
							<h1 class="_9dz61">{{user.userName}}</h1>
							<div class="col-md-12" style="padding:0;">
								<span>{{user.description}}</span>
							</div>
							<div class="col-sm-12" style="padding:0">
								<button type="submit" ng-if="user && !user.follow" ng-click="clickFollow()" class="btn btn-snd-white">{{'USER.u04_02_follow' | translate}}</button>
								<button type="submit" ng-if="user && user.follow" ng-click="clickFollow()" class="btn btn-snd-orange">{{'USER.u04_02_following1' | translate}}</button>
								<!-- <button type="submit" class="btn btn-snd-white"><i class="material-icons">more_horiz</i></button> -->
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="vid-container file-box">
						<div class="col-md-4 col-sm-4 col-xs-4 file-text-line">
							<p class="file-text">{{user.worksNum}}</p>
							<p class="file-num">{{'USER.u04_02_posts' | translate}}</p>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4 file-text-line">
							<p class="file-text">{{user.fansNum}}</p>
							<p class="file-num">{{'USER.u04_02_followers' | translate}}</p>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4 ">
							<p class="file-text">{{user.followNum}}</p>
							<p class="file-num">{{'USER.u04_03_following' | translate}}</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="vid-container">
						<div class="col-md-4 col-sm-4 col-xs-6" ng-repeat="data in worksList track by $index">
							<div class="latest-vid-img-container">		
								<div class="vid-img">
									<img class="img-responsive" ng-src="{{imageLoadUrl}}{{data.imagePath}}" on-error-src="assets/images/image-not-found.png" alt="image">
										<a ng-href="#/column-detail?id={{data.worksId}}" class="play-icon play-small-icon">
							                <img class="img-responsive play-svg svg" src="assets/images/play-button.svg" alt="play" onerror="this.src='images/play-button.png'">	                	
							            </a>
								</div>
							</div>
						</div>
					</div>
					<!-- pagination top -->	
					<div class="pagination-container text-center">
						<ul class="pagination">
						   	<li>
						   		<a href="" ng-hide="offset==1 || maxPagination==0" ng-click="movePagin(-1)">&laquo;</a>
						   	</li>
						   	<li ng-class="{true:'active',false:''}[offset==pagin]" ng-repeat="pagin in paginList">
						   		<a href="" ng-click="clickPagin(pagin)">{{pagin}}</a>
						   		<div class="pagination-hvr"></div>
						   	</li>
						   	<li>
						   		<a href="" ng-hide="offset==maxPagination || maxPagination==0" ng-click="movePagin(1)">&raquo;</a>
						   	</li>
						</ul>
					</div>
						<!-- pagination end -->
				</div>
			</div>
		</div>
		<div ui-view="footer"></div>
	</div>
</div>