<div>
	<h4 class='smaller'>
		<i class='ace-icon fa fa-exclamation-circle blue'>
		</i> Alert
		<i class="fa fa-times" style="float:right;" ng-click="close()"></i> 
	</h4>
</div>
<div class="row collapse" id="report">
	<div class="col-md-12 report-box">
		<h4 style="margin-bottom:20px">{{'WORK.u05_01_report_content' | translate}}</h4>
		<from>
			<div class="form-group">
				<label>
					<input type="radio" name="location" value="one">{{'WORK.u05_01_not_inappropriate' | translate}}
				</label>
			</div>
			<div class="form-group">
				<label>
					<input type="radio" name="location" value="two">{{'WORK.u05_01_lnfringe_copyright' | translate}}
				</label>
			</div>
		</from>
		<div class="row" style="margin:30px 0 10px 10px;">
			<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#report">{{'WORK.u05_01_send' | translate}}</button>
		</div>
	</div>
</div>