<div id="wrapper">
	<div id="main-content">
		<div ui-view="headerMenu"></div>
		<!-- Secondary Section -->
		<div id="video-detail" ng-if="isShow">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-8">
						<div class="vid-detail-container">
							<div class="row">
								<div class="col-sm-12">
									<div class="vid-player">
										<div class="embed-responsive embed-responsive-16by9">
				                            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/88627743"></iframe>
				                        </div>
									</div>
									<h3>How to Make a Mountain Bike Film</h3>
									<div class="vid-text">
										<a class="_eszkz _l9yih" href="#" role="button" aria-disabled>
										<i class="material-icons font-icon">bookmark_border</i></a>
										<a class="_eszkz _l9yih" href="#" role="button" aria-disabled>
										<i class="material-icons font-icon">favorite_border</i></a>
										<span>{{mainSection.likeCount}}</span>
										<ul class="list-unstyled list-inline pull-right text-right sharing-bar">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										</ul>
										<div class="_1eg8c">
											<div class="_l8yre _5g4e2 col-md-4 col-sm-4 col-xs-4">
												<button class="_1frkc" title="更換大頭貼照">
													<img class="_fya1f" alt="更換大頭貼照" src="https://instagram.ftpe7-4.fna.fbcdn.net/t51.2885-19/s150x150/20987363_112853212749420_4017061943918460928_a.jpg">
												</button>
											</div>
											<div class="col-md-8 col-sm-8 col-xs-4" >
												<h1 class="_9dz61">ying6306</h1>
												<p><i class="fa fa-calendar date-text"></i>2017-10-05</p>
											</div>
										</div>
									</div>

									<div class="video-detail-text">
										<p>
											{{mainSection.description}}
										</p>
									</div>
									<div class="_4a48i _277v9">
										<ul class="_b0tqa" ng-repeat="data in mainSection.msgList track by $index">
											<li class="_ezgzd">
												<a class="_2g7d5 notranslate _95hvo" href="">{{data.userName}}</a>
												<span><span>{{data.message}}</span></span>
											</li>
										</ul>
										<ul id="demo" class="collapse _b0tqa">
											<li class="_ezgzd"><a class="_2g7d5 notranslate _95hvo" title="gabriellelee0530" href="#">gabriellelee0530</a><span><span>留言1</span></span></li>
											<li class="_ezgzd"><a class="_2g7d5 notranslate _95hvo" title="hsiuli" href="#">hsiuli</a><span><span>留言2</span></span></li>
											<li class="_ezgzd"><a class="_2g7d5 notranslate _95hvo" title="yinnn21_" href="#">yinnn21_</a><span><span>留言3</span></span></li>
										</ul>
									</div>
									<div class="container" style="margin-bottom:30px;padding-left:0">
 										<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">更多留言</button>
 									</div>
									<div id="comment-frm-container">
										<form class="comment-form">
											<div class="row">
												<div class="col-sm-12">
													<div class="form-group">
														<textarea name="comment-user-message" id="cmnt-user-msg" rows="4" class="form-control" placeholder="留言" required></textarea>
														<div class="input-top-line"></div>
														<div class="input-bottom-line"></div>
													</div>
												</div>
											</div>
										</form>
									</div>

									<div class="related-item">
										<div class="vid-heading overflow-hidden">
											<span class="wow fadeInUp" data-wow-duration="0.8s">
												相關畫作
											</span>
											<div class="hding-bottm-line wow zoomIn" data-wow-duration="0.8s">
											</div>
										</div>
										<div class="row">
											<div class="vid-container">
												<div class="col-md-4 col-sm-6">
													<div class="latest-vid-img-container">		
														<div class="vid-img">
															<img class="img-responsive" src="images/2-column-vid-img_2.jpg" alt="video image">
															<a href="video-detail.html" class="play-icon play-small-icon">
										                		<img class="img-responsive play-svg svg" src="images/play-button.svg" alt="play" onerror="this.src='images/play-button.png'">	                	
										                	</a>
															<div class="overlay-div"></div>
														</div>
														<div class="vid-text">
															<section class="_8oo9w">
																<a  href="#" role="button" aria-disabled><i class="material-icons font-icon">favorite_border</i></a>
																<span>57689</span>
																<a href="#"><i class="material-icons share-icon">share</i></a>
															</section>
															<p><a href="#">Jhon Doe</a></p>
															<h1><a href="column-detail.html">Super Hero of Kids</a></h1>
														</div>
													</div>
												</div>
												<div class="col-md-4 col-sm-6">
													<div class="latest-vid-img-container">		
														<div class="vid-img">
															<img class="img-responsive" src="images/2-column-vid-img_3.jpg" alt="video image">
															<a href="video-detail.html" class="play-icon play-small-icon">
										                		<img class="img-responsive play-svg svg" src="images/play-button.svg" alt="play" onerror="this.src='images/play-button.png'">	                	
										                	</a>
															<div class="overlay-div"></div>
														</div>
														<div class="vid-text">
															<section class="_8oo9w">
																<a  href="#" role="button" aria-disabled><i class="material-icons font-icon">favorite_border</i></a>
																<span>57689</span>
																<a href="#"><i class="material-icons share-icon">share</i></a>
															</section>
															<p><a href="#">Jhon Doe</a></p>
															<h1><a href="column-detail.html">Super Hero of Kids</a></h1>
														</div>
													</div>
												</div>
												<div class="col-md-4 col-sm-6">
													<div class="latest-vid-img-container">		
														<div class="vid-img">
															<img class="img-responsive" src="images/2-column-vid-img_4.jpg" alt="video image">
															<a href="video-detail.html" class="play-icon play-small-icon">
										                		<img class="img-responsive play-svg svg" src="images/play-button.svg" alt="play" onerror="this.src='images/play-button.png'">	                	
										                	</a>
															<div class="overlay-div"></div>
														</div>
														<div class="vid-text">
															<section class="_8oo9w">
																<a  href="#" role="button" aria-disabled><i class="material-icons font-icon">favorite_border</i></a>
																<span>57689</span>
																<a href="#"><i class="material-icons share-icon">share</i></a>
															</section>
															<p><a href="#">Jhon Doe</a></p>
															<h1><a href="column-detail.html">Super Hero of Kids</a></h1>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>							
							</div>
						</div>					
					</div>

					<div class="col-md-3 col-sm-4">
						<div class="sidebar">
							<div class="sidebar-vid most-liked">
								<h1 class="sidebar-heading">你喜歡的</h1>
								<!-- <div class="media">
									<div class="media-left">
										<img src="assets/images/most-liked-img-s1.jpg" alt="video">
									</div>
									<div class="media-body">
										<h1><a href="video-detail.html">Journey</a></h1>
										<p>
											<span><i class="fa fa-comment"></i> 10</span>
											<span><i class="fa fa-eye"></i> 534</span>
										</p>
									</div>
								</div>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/most-liked-img-s2.jpg" alt="video">
									</div>
									<div class="media-body">
										<h1><a href="video-detail.html">Magic</a></h1>
										<p>
											<span><i class="fa fa-comment"></i> 10</span>
											<span><i class="fa fa-eye"></i> 534</span>
										</p>
									</div>
								</div>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/most-liked-img-s3.jpg" alt="video">
									</div>
									<div class="media-body">
										<h1><a href="video-detail.html">Runner</a></h1>
										<p>
											<span><i class="fa fa-comment"></i> 10</span>
											<span><i class="fa fa-eye"></i> 534</span>
										</p>
									</div>
								</div>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/most-liked-img-s4.jpg" alt="video">
									</div>
									<div class="media-body">
										<h1><a href="video-detail.html">Fantasy</a></h1>
										<p>
											<span><i class="fa fa-comment"></i> 10</span>
											<span><i class="fa fa-eye"></i> 534</span>
										</p>
									</div>
								</div> -->
							</div>
							<div class="sidebar-vid most-viewd">
								<h1 class="sidebar-heading">更多畫作</h1>
						<!-- 		<div class="most-viewd-container">
									<div class="most-viewd-img">
										<img class="img-responsive" src="assets/images/most-viewd-1.jpg" alt="video">
									</div>
									<div class="most-viewd-text">
										<h1><a href="video-detail.html">Human Rights Violation</a></h1>
										<p>
											<span><i class="fa fa-comment"></i> 10</span>
											<span><i class="fa fa-eye"></i> 534</span>
										</p>
									</div>
								</div>
								<div class="most-viewd-container">
									<div class="most-viewd-img">
										<img class="img-responsive" src="assets/images/most-viewd-2.jpg" alt="video">
									</div>
									<div class="most-viewd-text">
										<h1><a href="video-detail.html">War Video Compilation</a></h1>
										<p>
											<span><i class="fa fa-comment"></i> 10</span>
											<span><i class="fa fa-eye"></i> 534</span>
										</p>
									</div>
								</div> -->							
							</div>
							<div class="tags">
								<h1 class="sidebar-heading">關鍵字</h1>
<!-- 								<ul class="list-inline list-unstyled">
									<li><a href="#">3D</a></li>
									<li><a href="#">Animals &amp; Birds</a></li>
									<li><a href="#">HD</a></li>
									<li><a href="#">Horror</a></li>
									<li><a href="#">Art</a></li>
									<li><a href="#">Self</a></li>
									<li><a href="#">HD Songs</a></li>
									<li><a href="#">Comedy</a></li>
								</ul> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ui-view="footer" ng-if="isShow"></div>
	</div>
</div>		
