<div id="wrapper">
	<div id="main-content">
		<div ui-view="headerMenu"></div>
		<div id="video-detail" ng-if="isShow">
			<div class="container">
				<div class="row">
					<!-- <div class="col-md-12 col-sm-12"> -->
					<div class="col-md-9 col-sm-8">
						<div class="vid-detail-container">
							<div class="row">
								<div class="col-sm-12">
									<div class="drwa-play">
			                           <!--  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/88627743"></iframe> -->
			                            <div class="loading" ng-hide="loading">
			                            	<div class="loader"></div>
			                            </div>

			                            <canvas id="jsonCanvas"  ng-click="pasue()" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"></canvas>
			                            
			                            <div class="pasue-stop-img circleimg" ng-show="funcolStop">
			                        		<a href="" ng-click="pasue()"><i class="fa fa-play-circle"></i></a>
			                        	</div>
			                        	<div class="pasue-back" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" ng-show="funcol">
			                        	<span class="speennum">{{(fasti+1)}}X</span>
			                        	<!--<div class="pasue-back" ng-hide=pausebol>-->
			                        		<div class="forward-img">
			                        			<a href="" ng-class="{true: '', false: 'imgchag'}[forwarded]" ng-click="fast('forward')"><i class="material-icons" >fast_forward</i></a>
			                        		</div>
			                        		<div class="next-img circleimg">
			                        			<a href=""  ng-class="{true: '', false: 'imgchag'}[isnext]" ng-click="next()"><i class="fa fa-chevron-circle-right"></i></a>
			                        		</div>
			                        		<div class="pasue-img circleimg">
			                        			<a href=""  ng-click="pasue()"><i ng-class="{true: 'fa fa-pause-circle', false: 'fa fa-play-circle'}[pausebol]"></i></a>
			                        			<!--<i class="fa fa-play-circle"  ng-hide="pausebol" ng-click="pasue()"></i>
			                        			<i class="fa fa-pause-circle" ng-hide="!pausebol" ng-click="pasue()"></i>-->
			                        			<!-- <img  ng-click="pasue()" src="assets/images/play-button.svg" alt="play" onerror="this.src='assets/images/play-button.png'"> -->
			                        		</div>
			                        		<div class="last-img circleimg">
			                        			<a href=""  ng-class="{true: '', false: 'imgchag'}[islast]" ng-click="last()"><i class="fa fa-chevron-circle-left"></i></a>
			                        		</div>
			                        		<div class="rewind-img">
			                        			<a href="" ng-class="{true: '', false: 'imgchag'}[rewinded]" ng-click="fast('rewind')"><i class="material-icons" >fast_rewind</i></a>
			                        		</div>
			                        		
			                        	</div>
			                        </div>
									<h3>{{mainSection.title}}</h3>
									<div class="vid-text">
										<div class="row">
											<div class="col-md-6 col-sm-6">
												<a class="_eszkz _l9yih" href="" role="button" aria-disabled>
													<i class="material-icons font-icon" ng-if="!mainSection.collection" ng-click="clickWorksMark(mainSection)">bookmark_border</i>
													<i class="material-icons font-icon" ng-if="mainSection.collection" ng-click="clickWorksMark(mainSection)">bookmark</i>
												</a>
												<a class="_eszkz _l9yih" href="" role="button" aria-disabled>
													<i ng-click="clickWorksLike(mainSection)" ng-if="!mainSection.like" class="material-icons font-icon">favorite_border</i>
													<i ng-click="clickWorksLike(mainSection)" ng-if="mainSection.like" class="material-icons font-icon">favorite</i>
												</a>
												<span>{{mainSection.likeCount}}</span>
											</div>
											<div class="col-md-6 col-sm-6">
												<ul class="list-unstyled list-inline pull-right text-right sharing-bar">
													<li><a href="" ng-click="shareLink('fb')"><i class="fa fa-facebook"></i></a></li>
													<li><a social-twitter href="" custom-url="{{share_url}}"><i class="fa fa-twitter"></i></a></li>
													<li><a social-gplus href=""  custom-url="{{share_url}}"><i class="fa fa-google-plus"></i></a></li>
													<!-- <li><a href=""><i class="fa fa-instagram"></i></a></li> -->
													<li><a href="" title="檢舉" data-toggle="collapse" data-target="#report" ng-click="clickTurnIn()">
														<i class="fa fa-info-circle" aria-hidden="true"></i>
													</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="row collapse" id="report">
											<div class="col-md-12 report-box">
												<h4 style="margin-bottom:20px">檢舉內容</h4>
												<from>
													<div class="form-group">
														<label>
															<input type="radio" ng-model="turnModel.option" value="1" convert-to-number> {{turnModel.description[0]}}
														</label>
													</div>
													<div class="form-group">
														<label>
															<input type="radio" ng-model="turnModel.option" value="2" convert-to-number> {{turnModel.description[1]}}
														</label>
													</div>
												</from>
												<div class="row" style="margin:30px 0 10px 10px;">
													<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#report" ng-click="sendTurnIn()">送出</button>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="_1eg8c">
												<div class="_l8yre _5g4e2 col-md-4 col-sm-4 col-xs-4">
													<!-- <button class="_1frkc" title="更換大頭貼照"> -->
													<img class="_fya1f" ng-if="mainSection.profilePicture!=null && mainSection.profilePicture!=''" ng-src="{{imageLoadUrl}}{{mainSection.profilePicture}}">	
													<img class="_fya1f" ng-if="mainSection.profilePicture==null || mainSection.profilePicture==''" src="assets/images/avatar/photo-round@3x.png">
													<!-- </button> -->
												</div>
											</div>
											<div class="col-md-8 col-sm-8 col-xs-4">
												<h1 class="_9dz61">{{mainSection.userName}}</h1>
												<p><i class="fa fa-calendar date-text"></i>{{mainSection.updateDate | date:"yyyy-MM-dd"}}</p>
											</div>

										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="video-detail-text">
													<p ng-bind-html="covert(mainSection.description)"></p>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="_4a48i _277v9" ng-if="mainSection.msgList.length==0">
												<label>目前沒有新的留言</label>
											</div>
											<div class="_4a48i _277v9">
												<ul class="_b0tqa">
													<li class="_ezgzd" ng-repeat="data in mainSection.msgList | limitTo:1:0 track by $index">
														<a href="" ng-click="removeMsg(data)">
															<i ng-if="data.userId == rg_gl.currentUser.ui" class="material-icons font-icon">clear</i>
														</a>
														<a class="_2g7d5 notranslate _95hvo" href="">{{data.userName}}</a>
														<span><span>{{data.message}}</span></span>
													</li>
												</ul>
												<ul id="demo" class="collapse _b0tqa">
													<li class="_ezgzd" ng-repeat="data in mainSection.msgList | limitTo:(1 - mainSection.msgList.length) track by $index">
														<a href="" ng-click="removeMsg(data)">
															<i ng-if="data.userId == rg_gl.currentUser.ui" class="material-icons font-icon">clear</i>
														</a>
														<a class="_2g7d5 notranslate _95hvo" href="">{{data.userName}}</a>
														<span><span>{{data.message}}</span></span>
													</li>
												</ul>
											</div>
											<div ng-if="mainSection.msgList.length>1" class="container" style="margin-bottom:30px;padding-left:0">
		 										<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">更多留言</button>
		 									</div>
		 									<div id="comment-frm-container">
												<form class="comment-form">
													<div class="row">
														<div class="col-sm-12">
															<div class="form-group">
																<textarea ng-model="textareaModel.text" ng-textarea-enter="textareaAction()" name="comment-user-message" id="cmnt-user-msg" maxlength="200" rows="4" class="form-control" placeholder="留言" style="resize: none;"></textarea>
																<div class="input-top-line"></div>
																<div class="input-bottom-line"></div>
															</div>
														</div>
													</div>
												</form>
											</div>
		 								</div>
									</div>
								</div>							
							</div>
						</div>					
					</div>

 					<div class="col-md-3 col-sm-4">
						<div class="sidebar">
							<div class="sidebar-vid most-liked">
								<!-- <h1 class="sidebar-heading">{{'HOME.USER_LIKE' | translate}}</h1> -->
								<h1 class="sidebar-heading">相關畫作</h1>
								<div class="media" ng-repeat="data in secondarySectionArr_userLike track by $index">
									<div class="media-left">
										<a ng-href="#/column-detail?id={{data.worksId}}">
											<img ng-src="{{imageLoadUrl}}{{data.imagePath}}" on-error-src="assets/images/image-not-found.png" alt="image">
										</a>
									</div>
									<div class="media-body">
										<h1><a ng-href="#/column-detail?id={{data.worksId}}">{{data.title}}</a></h1>
										<p>
											<span><i class="fa fa-comment"></i>{{data.msgCount}}</span>
											<span><i class="fa fa-heart-o"></i>{{data.likeCount}}</span>
										</p>
									</div>
								</div>
							</div>

							<div class="sidebar-vid most-viewd">
								<h1 class="sidebar-heading">{{'HOME.MORE_CREATION' | translate}}</h1>
								<div class="most-viewd-container" ng-repeat="data in secondarySectionArr_moreCreation track by $index">
									<div class="most-viewd-img">
										<a ng-href="#/column-detail?id={{data.worksId}}">
											<img class="img-responsive" ng-src="{{imageLoadUrl}}{{data.imagePath}}" on-error-src="assets/images/image-not-found.png" alt="image">
										</a>
									</div>
									<div class="most-viewd-text">
										<h1><a ng-href="#/column-detail?id={{data.worksId}}">{{data.title}}</a></h1>
										<p>
											<span><i class="fa fa-comment"></i>{{data.msgCount}}</span>
											<span><i class="fa fa-heart-o"></i>{{data.likeCount}}</span>
										</p>
									</div>
								</div>	
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div ui-view="footer" ng-if="isShow"></div>
	</div>
</div>		
