<div class="main-content-inner">
	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="grey lighter">
					<i class="ace-icon fa fa-desktop green"></i>
					目錄管理
					<button type="button" class="btn btn-white btn-info btn-bold pull-right" ng-click="addDir()">
						<i class="ace-icon fa fa-pencil bigger-120 blue"></i>
						新增
					</button>
					<button ng-if="showBack" type="button" class="btn btn-white btn-inverse btn-bold pull-right" style="margin-right:10px;" ng-click="back()">
						<i class="ace-icon fa fa-reply bigger-120 gray"></i>
						返回
					</button>
				</h3>
				<div class="hr hr-18 hr-double dotted"></div>
				<div class="breadcrumbs ace-save-state" id="breadcrumbs">
					<ul class="breadcrumb">
						<li ng-repeat="data in breadCrumbs track by $index">
							<i ng-if="$index == 0" class="ace-icon fa fa-clone clone-icon"></i>
							<a ng-if="$index != (breadCrumbs.length -1)" href="#/directoryManager?cp={{data.categoryId}}">
								{{data.categoryName}}
							</a>
							<label ng-if="$index == (breadCrumbs.length -1)">{{data.categoryName}}</label>
						</li>
					</ul>
				</div>
				<div class="x_content">
					<table id="dynamic-table" class="table table-striped table-bordered" width="100%"></table>
					<!-- <tree nodes='basicTree' options="options"></tree> -->
				</div>
			</div>
		</div>
	</div>
</div>

