<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonniedraw.works.dao.TurnInMapper">
  <resultMap id="BaseResultMap" type="com.bonniedraw.works.model.TurnIn">
    <id column="TURN_IN_ID" jdbcType="INTEGER" property="turnInId" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="WORKS_ID" jdbcType="INTEGER" property="worksId" />
    <result column="TURN_IN_TYPE" jdbcType="INTEGER" property="turnInType" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
  </resultMap>
  <sql id="Base_Column_List">
    TURN_IN_ID, USER_ID, WORKS_ID, TURN_IN_TYPE, DESCRIPTION, STATUS, CREATION_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from turn_in
    where TURN_IN_ID = #{turnInId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from turn_in
    where TURN_IN_ID = #{turnInId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bonniedraw.works.model.TurnIn">
    insert into turn_in (TURN_IN_ID, USER_ID, WORKS_ID, 
      TURN_IN_TYPE, DESCRIPTION, STATUS, 
      CREATION_DATE)
    values (#{turnInId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{worksId,jdbcType=INTEGER}, 
      #{turnInType,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{creationDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bonniedraw.works.model.TurnIn">
    insert into turn_in
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="turnInId != null">
        TURN_IN_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="worksId != null">
        WORKS_ID,
      </if>
      <if test="turnInType != null">
        TURN_IN_TYPE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="creationDate != null">
        CREATION_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="turnInId != null">
        #{turnInId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="worksId != null">
        #{worksId,jdbcType=INTEGER},
      </if>
      <if test="turnInType != null">
        #{turnInType,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bonniedraw.works.model.TurnIn">
    update turn_in
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="worksId != null">
        WORKS_ID = #{worksId,jdbcType=INTEGER},
      </if>
      <if test="turnInType != null">
        TURN_IN_TYPE = #{turnInType,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TURN_IN_ID = #{turnInId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bonniedraw.works.model.TurnIn">
    update turn_in
    set USER_ID = #{userId,jdbcType=INTEGER},
      WORKS_ID = #{worksId,jdbcType=INTEGER},
      TURN_IN_TYPE = #{turnInType,jdbcType=INTEGER},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP}
    where TURN_IN_ID = #{turnInId,jdbcType=INTEGER}
  </update>
  
  <select id="queryTurnInList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from turn_in
  </select>
  
</mapper>